@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bp-sm: 375px;
  --bp-md: 768px;
  --bp-lg: 1024px;
  --bp-xl: 1280px;
  color-scheme: light;
}

body { background: #fff; color: #253648; font-family: Arial, Helvetica, sans-serif; }

.horizontal-scroll::-webkit-scrollbar {
  height: 8px;
}
.horizontal-scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}